name: golangci-lint
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read # Optional: allow read access to pull requests
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest
          args: --timeout 10m
          only-new-issues: true
